.cart {
  background-color: black;
  color: white;
  padding: 20px 100px;
  height: 100%;

  .empty-cart {
    padding: 10px;
    height: 80vh;
    width: 80vw;
  }

  .main-content {
    background-color: rgb(241, 236, 236);
    color: black;
    min-height: 100vh; /* or 100vh */
  }

  .left {
    padding: 20px;
  }

  .address {
    color: black;
    background-color: white;
    padding: 10px;
  }

  .cart-item {
    background-color: white;
    color: black;
    padding: 20px;

    .quantity-input {
      border: none;
      border-radius: 6px;
      text-align: center;
    }
  }

  .right {
    padding: 20px;

    p {
      margin: 0;
      padding: 10px;
    }
  }
}
