<nav class="navbar">
  <div class="left">
    <img src="swiggy_logo_white.png" height="50px" width="150px" alt="swiggy-logo" />
  </div>
  <div class="right">
    <ul class="navbar-nav d-flex flex-row align-items-center">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-light" routerLink="/home">Home</button>
      </li>
      <li class="nav-item">
        @if (!mainService.isLogin()) {
          <button type="button" class="btn btn-outline-light" routerLink="/login">Log in</button>
        }
      </li>
      <li class="nav-item">
        <div class="cart-icon">
          <mat-icon>shopping_cart</mat-icon>
          <span class="badge bg-success cart-count">0</span>
        </div>
      </li>
      <li class="nav-item dropdown person-icon">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <mat-icon>person</mat-icon>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
