<nav class="navbar">
  <div class="left">
    <img src="swiggy_logo_white.png" height="50px" width="150px" alt="swiggy-logo" />
  </div>
  <div class="right">
    <button type="button" class="btn btn-outline-light me-3" routerLink="/home">Home</button>
    <button type="button" class="btn btn-outline-light me-3" routerLink="/login">Log in</button>
    <div class="cart-icon">
      <mat-icon>shopping_cart</mat-icon>
      <span class="badge bg-success cart-count">0</span>
    </div>
  </div>
</nav>
