.restaurant {
  background-color: black;
  height: 100vh;
  color: white;
  padding: 20px 100px;

  .food-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;

    .item-card {
      background-color: #ff5200;
      min-height: 400px;
      border-radius: 6px;
      color: white;
      overflow: hidden; 

      .bottom-content {
        padding: 15px;

        .quantity-input {
          border: none;
          border-radius: 6px;
          text-align: center;

        }

        .heading {
          display: flex;
          justify-content: space-between;

          h3 {
            text-align: center;
          }
        }
      }
    }
  }
}
